.calender {
    position: absolute;
    left: 100%;
    bottom: 100%;
    transform: translateX(-95%);
    z-index: 1;
    border-radius: 6px;
    background: #333;
    min-width: 320px;
    padding: 16px;
    margin-bottom: 4px;
}

.calender-header {
    text-align: left;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.calender-header>.calender-buttons>button {
    background: inherit;
    border: none;
    text-align: center;
    color: grey;
}

.calender-header>.calender-buttons>.calender-nextMonth {
    transform: rotate(90deg);
    margin-left: 3px;
}

.calender-header>.calender-buttons>.calender-lastMonth {
    transform: rotate(-90deg);
    margin-right: 3px;
}

.calender-header>time {}

.calender-weekdays {
    display: flex;
    padding-bottom: 4px;
}

.calender-weekdays>li {
    width: 14.2857%;
    text-align: center;
}

.calender-days {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 16px;
}

.calender-days>li {
    width: 14.2857%;
    text-align: center;
    height: 42px;
}

.today {
    border-radius: 50%;
    background: blue;
}

.normal {
    color: grey;
}