* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: boder-box;
}

button {
    font: inherit;
}

ul,
ol {
    list-style: none;
}

.content {
    height: 100vh;
    position: relative;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.taskbar {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    background-color: #2c2412;
    width: 100%;
    display: flex;
    color: white;
    height: 42px;
    justify-content: space-between;
    align-items: center;
}

.taskbar>.leftcontent {
    margin-left: 16px;
}

.taskbar>.leftcontent>img {
    max-height: 28px;
    margin: 2px;
}

.taskbar>.rightcontent {
    margin-right: 24px;
    display: flex;
    position: relative;
}

.taskbar>.rightcontent>.timewrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.taskbar>.rightcontent>.timewrapper span {
    font-size: 2px;
}

.hide {
    display: none;
}